/* Start Of FOOTER */

.footer-company-name {
    font-family: 'Pirulen', sans-serif;
    font-size: 14px;
}

@media (max-width: 0px) {
    .footer-section {
        background-image: none;
    }

    .footer-container {
        min-height: 605px;
    }

    .footer-content {
        width: 1140px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
    }

    .footer-company-block {
        min-height: 467px;
    }

    .footer-company {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .footer-company-img {
        height: 151px;
        width: 151px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .footer-company-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0.25px;
        margin-right: 0.25px;
    }

    .u-block-5545-28 {
        margin-top: 20px;
        margin-left: 0.25px;
        margin-right: 0.25px;
        margin-bottom: 0px;
        font-size: 1.125rem;
    }

    .footer-browse-block {
        min-height: 100px;
    }

    .u-block-5545-39 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .u-block-5545-40 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1.25px;
        margin-right: 1.25px;
    }

    .u-block-5545-41 {
        margin-top: 20px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-69 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-42 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1px;
        margin-right: 1px;
        font-size: 1.125rem;
    }

    .u-block-5545-70 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-43 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1px;
        margin-right: 1px;
        font-size: 1.125rem;
    }

    .u-block-5545-71 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-44 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1px;
        margin-right: 1px;
        font-size: 1.125rem;
    }

    .u-block-5545-72 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-45 {
        margin-top: -1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-73 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-46 {
        margin-top: 1px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-74 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-47 {
        min-height: 467px;
    }

    .u-block-5545-48 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-5545-49 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0.25px;
        margin-right: 0.25px;
    }

    .u-block-5545-50 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-51 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-52 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-53 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-54 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-55 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1.125rem;
    }

    .u-block-5545-8 {
        min-height: 467px;
    }

    .u-block-5545-9 {
        padding-top: 20px;
        padding-right: 29px;
        padding-bottom: 20px;
        padding-left: 28px;
    }

    .u-block-5545-10 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-block-5545-56 {
        margin-top: 21px;
        margin-left: 1px;
        margin-right: 1px;
        margin-bottom: 0px;
    }

    .u-block-5545-75 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-58 {
        margin-top: 5px;
        margin-left: 0.5px;
        margin-right: 0.5px;
        margin-bottom: 0px;
    }

    .u-block-5545-60 {
        margin-top: 20px;
        margin-left: 0.5px;
        margin-right: 0.5px;
        margin-bottom: 0px;
    }

    .u-block-5545-76 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-64 {
        margin-top: 5px;
        margin-left: 0.25px;
        margin-right: 0.25px;
        margin-bottom: 0px;
    }

    .u-block-5545-66 {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0.25px;
    }

    .u-block-5545-22 {
        min-height: 16px;
        width: 184px;
        min-width: 136px;
        margin-top: 20px;
        margin-right: 69px;
        margin-bottom: 0px;
        margin-left: 1px;
    }

    .u-block-5545-23 {
        height: 32px;
    }

    .u-block-5545-24 {
        height: 32px;
    }

    .u-block-5545-25 {
        height: 32px;
    }

    .u-block-5545-68 {
        line-height: 2;
        width: 115px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 0px) {
    .footer-section {
        background-image: none
    }

    .footer-container {
        min-height: 882px;
    }

    .footer-content {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .footer-company-block {
        min-height: 308.33px;
    }

    .footer-company {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .footer-company-img {
        height: 151px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 151px;
        margin-left: 0px;
    }

    .footer-company-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-28 {
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .footer-browse-block {
        min-height: 100px;
    }

    .u-block-5545-39 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .u-block-5545-40 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-41 {
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-69 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-42 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-70 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-43 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-71 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-44 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-72 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-45 {
        font-size: 1rem;
        margin-top: -1px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-73 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-46 {
        font-size: 1rem;
        margin-top: 1px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-74 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-47 {
        min-height: 439.671px;
    }

    .u-block-5545-48 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-5545-49 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-50 {
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-51 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-52 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-53 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-54 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-55 {
        font-size: 1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-8 {
        min-height: 439.671px;
    }

    .u-block-5545-9 {
        padding-top: 20px;
        padding-left: 24.0314px;
        padding-right: 24.0314px;
        padding-bottom: 0px;
    }

    .u-block-5545-10 {
        position: relative;
        font-weight: 700;
        margin-top: 0px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-56 {
        margin-top: 21px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-75 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-58 {
        margin-top: 5px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-60 {
        margin-top: 20px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-76 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-64 {
        margin-top: 5px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-66 {
        margin-top: 20px;
        margin-right: 4.9689px;
        margin-bottom: 0px;
        margin-left: 3.9689px;
    }

    .u-block-5545-22 {
        min-width: 68px;
        min-height: 16px;
        width: 143.305px;
        height: 41.1015px;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .u-block-5545-23 {
        height: 32px;
    }

    .u-block-5545-24 {
        height: 32px;
    }

    .u-block-5545-25 {
        height: 32px;
    }

    .u-block-5545-68 {
        line-height: 2;
        width: 115px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 31.3439px;
    }
}

@media (max-width: 0px) {
    .footer-section {
        background-image: none
    }

    .footer-container {
        min-height: 148px;
    }

    .footer-content {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .footer-company-block {
        min-height: 100px;
    }

    .footer-company {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
    }

    .footer-company-img {
        height: 151px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 151px;
        margin-left: 0px;
    }

    .footer-company-name {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-28 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .footer-browse-block {
        min-height: 100px;
    }

    .u-block-5545-39 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 29px;
        padding-right: 29px;
    }

    .u-block-5545-40 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-41 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-69 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-42 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-70 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-43 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-71 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-44 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-72 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-45 {
        margin-top: -1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-73 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-46 {
        margin-top: 1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-74 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-47 {
        min-height: 100px;
    }

    .u-block-5545-48 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-5545-49 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-50 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-51 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-52 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-53 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-54 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-55 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-8 {
        min-height: 100px;
    }

    .u-block-5545-9 {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 24.0314px;
        padding-right: 24.0314px;
    }

    .u-block-5545-10 {
        position: relative;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 5px;
    }

    .u-block-5545-56 {
        margin-top: 21px;
        margin-left: 4px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .u-block-5545-75 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-58 {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 5px;
    }

    .u-block-5545-60 {
        margin-top: 20px;
        margin-left: 4px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .u-block-5545-76 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-64 {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
    }

    .u-block-5545-66 {
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
    }

    .u-block-5545-22 {
        min-width: 68px;
        min-height: 16px;
        width: 116px;
        margin-top: 20px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: 0px;
        height: 41.1015px;
    }

    .u-block-5545-23 {
        height: 32px;
    }

    .u-block-5545-24 {
        height: 32px;
    }

    .u-block-5545-25 {
        height: 32px;
    }

    .u-block-5545-68 {
        line-height: 2;
        width: 115px;
        margin-top: 85px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 31.3439px;
    }
}

@media (max-width: 0px) {
    .footer-section {
        background-image: none
    }

    .footer-container {
        min-height: 248px;
    }

    .footer-content {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .footer-company-block {
        min-height: 100px;
    }

    .footer-company {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .footer-company-img {
        height: 151px;
        width: 151px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-company-name {
        width: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-28 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .footer-browse-block {
        min-height: 100px;
    }

    .u-block-5545-39 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-40 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-41 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-69 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-42 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-70 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-43 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-71 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-44 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-72 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-45 {
        margin-top: -1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-73 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-46 {
        margin-top: 1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-74 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-47 {
        min-height: 100px;
    }

    .u-block-5545-48 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-49 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-50 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-51 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-52 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-53 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-54 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-55 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-8 {
        min-height: 100px;
    }

    .u-block-5545-9 {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-10 {
        position: relative;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 5px;
    }

    .u-block-5545-56 {
        margin-top: 21px;
        margin-left: 4px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .u-block-5545-75 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-58 {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
        margin-right: 5px;
    }

    .u-block-5545-60 {
        margin-top: 20px;
        margin-left: 4px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    .u-block-5545-76 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-64 {
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
    }

    .u-block-5545-66 {
        margin-top: 20px;
        margin-right: 5px;
        margin-bottom: 0px;
        margin-left: 4px;
    }

    .u-block-5545-22 {
        min-width: 68px;
        min-height: 16px;
        width: 116px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        height: 41.1015px;
    }

    .u-block-5545-23 {
        height: 32px;
    }

    .u-block-5545-24 {
        height: 32px;
    }

    .u-block-5545-25 {
        height: 32px;
    }

    .u-block-5545-68 {
        line-height: 2;
        margin-top: 85px;
        margin-bottom: 31.3439px;
        margin-left: auto;
        margin-right: auto;
        width: 115px;
    }
}

@media (max-width: 0px) {
    .footer-section {
        background-image: none
    }

    .footer-container {
        min-height: 248px;
    }

    .footer-content {
        margin-top: 60px;
        margin-bottom: 0px;
    }

    .footer-company-block {
        min-height: 100px;
    }

    .footer-company {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    .footer-company-img {
        height: 151px;
        width: 151px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-company-name {
        width: auto;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-28 {
        font-size: 1rem;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .footer-browse-block {
        min-height: 100px;
    }

    .u-block-5545-39 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-40 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-41 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-69 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-42 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-70 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-43 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-71 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-44 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-72 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-45 {
        margin-top: -1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-73 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-46 {
        margin-top: 1px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-74 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-47 {
        min-height: 100px;
    }

    .u-block-5545-48 {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-49 {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-50 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-size: 1rem;
    }

    .u-block-5545-51 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-52 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-53 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-54 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-55 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        font-size: 1rem;
    }

    .u-block-5545-8 {
        min-height: 100px;
    }

    .u-block-5545-9 {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-5545-10 {
        position: relative;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-56 {
        margin-top: 21px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-75 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-58 {
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .u-block-5545-60 {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
    }

    .u-block-5545-76 {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .u-block-5545-64 {
        margin-top: 5px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .u-block-5545-66 {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }

    .u-block-5545-22 {
        min-width: 68px;
        min-height: 16px;
        width: 116px;
        margin-top: 20px;
        margin-left: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        height: 41.1015px;
    }

    .u-block-5545-23 {
        height: 32px;
    }

    .u-block-5545-24 {
        height: 32px;
    }

    .u-block-5545-25 {
        height: 32px;
    }

    .u-block-5545-68 {
        line-height: 2;
        margin-top: 85px;
        margin-bottom: 31.3439px;
        margin-left: auto;
        margin-right: auto;
        width: 115px;
    }
}

/* End Of FOOTER */