/* Start Of PRODUCTS */

@media (min-width: 1200px) {
    .products-section {
        background-image: none;
    }

    .products-container {
        min-height: 1280px;
    }

    .u-block-2a98-37 {
        font-size: 2.25rem;
        width: 275px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .products-content {
        margin-top: 60px;
        margin-bottom: 80px;
        margin-left: 0;
        margin-right: 0;
    }

    .products-img-krypton {
        background-image: url("/projects/jpbsolutions_landing/assets/images/Kryptonv1.0.0.0.png");
        background-position: 50% 50%;
        min-height: 395px;
    }

    .u-block-2a98-5 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-22 {
        min-height: 395px;
    }

    .products-block {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .products-name {
        background-image: none;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .products-text {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .u-block-2a98-32 {
        min-height: 399px;
    }

    .u-block-2a98-33 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .u-block-2a98-34 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-35 {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .u-block-2a98-10 {
        background-image: url("/projects/jpbsolutions_landing/assets/images/SQLRunnerv1.0.0.0.png");
        background-position: 50% 50%;
        min-height: 399px;
    }

    .u-block-2a98-11 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-18 {
        min-height: 358px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/YourKeysv1.0.0.0.png");
        background-position: 50% 50%;
    }

    .u-block-2a98-19 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-27 {
        min-height: 358px;
    }

    .u-block-2a98-28 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .u-block-2a98-29 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-30 {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}


@media (max-width: 1199px) and (min-width: 992px) {
    .products-section {
        background-image: none;
    }

    .products-container {
        min-height: 1280px;
    }

    .u-block-2a98-37 {
        font-size: 2.25rem;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 275px;
    }

    .products-content {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .products-img-krypton {
        min-height: 329px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/Kryptonv1.0.0.0.png");
        background-position: 50% 50%;
    }

    .u-block-2a98-5 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-22 {
        min-height: 329px;
    }

    .products-block {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .products-name {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        background-image: none;
        font-size: 1.5rem;
    }

    .products-text {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-32 {
        min-height: 327px;
    }

    .u-block-2a98-33 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .u-block-2a98-34 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-35 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-10 {
        min-height: 327px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/SQLRunnerv1.0.0.0.png");
        background-position: 50% 50%;
    }

    .u-block-2a98-11 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-18 {
        min-height: 295px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/YourKeysv1.0.0.0.png");
        background-position: 0% 50%;
    }

    .u-block-2a98-19 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-27 {
        min-height: 315px;
    }

    .u-block-2a98-28 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }

    .u-block-2a98-29 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-30 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    .products-section {
        background-image: none;
    }

    .products-container {
        min-height: 1037px;
    }

    .u-block-2a98-37 {
        font-size: 2.25rem;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 275px;
    }

    .products-content {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .products-img-krypton {
        min-height: 315px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/Kryptonv1.0.0.0.png");
        background-position: 81.79% 50%;
    }

    .u-block-2a98-5 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-22 {
        min-height: 100px;
    }

    .products-block {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .products-name {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        background-image: none;
        font-size: 1.5rem;
    }

    .products-text {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-32 {
        min-height: 100px;
    }

    .u-block-2a98-33 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-34 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-35 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-10 {
        min-height: 315px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/SQLRunnerv1.0.0.0.png");
        background-position: 55.23% 50%;
    }

    .u-block-2a98-11 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-18 {
        min-height: 226px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/YourKeysv1.0.0.0.png");
        background-position: 0% 0%;
        background-size: auto 150%;
    }

    .u-block-2a98-19 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-27 {
        min-height: 100px;
    }

    .u-block-2a98-28 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-2a98-29 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-30 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 767px) and (min-width: 576px) {
    .products-section {
        background-image: none;
    }

    .products-container {
        min-height: 1701px;
    }

    .u-block-2a98-37 {
        font-size: 2.25rem;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 275px;
    }

    .products-content {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .products-img-krypton {
        min-height: 390px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/Kryptonv1.0.0.0.png");
        background-position: 81.79% 50%;
    }

    .u-block-2a98-5 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-22 {
        min-height: 100px;
    }

    .products-block {
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .products-name {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        background-image: none;
        font-size: 1.5rem;
    }

    .products-text {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-32 {
        min-height: 100px;
        order: 1;
    }

    .u-block-2a98-33 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-34 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-35 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-10 {
        min-height: 388px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/SQLRunnerv1.0.0.0.png");
        background-position: 55.23% 50%;
        order: 0;
    }

    .u-block-2a98-11 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-18 {
        min-height: 339px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/YourKeysv1.0.0.0.png");
        background-position: 0% 0%;
        background-size: auto 150%;
    }

    .u-block-2a98-19 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-27 {
        min-height: 100px;
    }

    .u-block-2a98-28 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-29 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.5rem;
    }

    .u-block-2a98-30 {
        margin-bottom: 0;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
    }
}


@media (max-width: 575px) {
    .products-section {
        background-image: none;
    }

    .products-container {
        min-height: 1296px;
    }

    .u-block-2a98-37 {
        font-size: 1.875rem;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 275px;
    }

    .products-content {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .products-img-krypton {
        min-height: 256px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/Kryptonv1.0.0.0.png");
        background-position: 81.79% 50%;
    }

    .u-block-2a98-5 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-22 {
        min-height: 244px;
    }

    .products-block {
        padding-top: 0px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .products-name {
        background-image: none;
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .products-text {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .u-block-2a98-32 {
        min-height: 316px;
        order: 1;
    }

    .u-block-2a98-33 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-34 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-35 {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .u-block-2a98-10 {
        min-height: 256px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/SQLRunnerv1.0.0.0.png");
        background-position: 55.23% 50%;
        order: 0;
    }

    .u-block-2a98-11 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-18 {
        min-height: 213px;
        background-image: url("/projects/jpbsolutions_landing/assets/images/YourKeysv1.0.0.0.png");
        background-position: 0% 0%;
        background-size: auto 150%;
    }

    .u-block-2a98-19 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-27 {
        min-height: 496px;
    }

    .u-block-2a98-28 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-block-2a98-29 {
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .u-block-2a98-30 {
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}

/* End Of PRODUCTS */