/* Start Of SERVICES */

@media (min-width: 1200px) {
    .services-section {
        background-image: none;
    }

    .services-container {
        min-height: 831px;
    }

    .u-block-6684-28 {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-31 {
        margin-top: 18px;
        margin-bottom: 60px;
    }

    .u-block-6684-32 {
        grid-auto-columns: calc(33.3333% - 10px);
        grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
        min-height: 634px;
        grid-gap: 15px 15px;
    }

    .u-block-6684-34 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .services-img {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .services-type {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .services-text {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        text-align: left;
    }

    .u-block-6684-37 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-38 {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .u-block-6684-47 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-weight: bold;
    }

    .u-block-6684-48 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-40 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-41 {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .u-block-6684-49 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-weight: bold;
    }

    .u-block-6684-50 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-43 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-44 {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .u-block-6684-51 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-weight: bold;
    }

    .u-block-6684-52 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-56 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-57 {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .u-block-6684-58 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-weight: bold;
    }

    .u-block-6684-59 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-61 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-62 {
        height: 210px;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    .u-block-6684-63 {
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-weight: bold;
    }

    .u-block-6684-64 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-53 {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .u-block-6684-54 {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 1199px) and (min-width: 992px) {
    .services-section {
        background-image: none;
    }

    .services-container {
        min-height: 859px;
    }

    .u-block-6684-28 {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-31 {
        margin-top: 18px;
        margin-bottom: 60px;
    }

    .u-block-6684-32 {
        grid-auto-columns: calc(33.333333333333336% - 10px);
        grid-gap: 15px 15px;
        grid-template-columns: repeat(3, calc(33.333333333333336% - 10px));
        min-height: 634px;
    }

    .u-block-6684-34 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .services-img {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .services-type {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .services-text {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        text-align: left;
    }

    .u-block-6684-37 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-38 {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-47 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-48 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-40 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-41 {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-49 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-50 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-43 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-44 {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-51 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-52 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-56 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-57 {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-58 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-59 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-61 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-62 {
        height: 166px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-63 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-64 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-53 {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .u-block-6684-54 {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 991px) and (min-width: 768px) {
    .services-section {
        background-image: none;
    }

    .services-container {
        min-height: 831px;
    }

    .u-block-6684-28 {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-31 {
        margin-top: 18px;
        margin-bottom: 60px;
    }

    .u-block-6684-32 {
        grid-auto-columns: calc(50% - 7.5px);
        grid-gap: 15px 15px;
        grid-template-columns: repeat(2, calc(50% - 7.5px));
        min-height: 634px;
    }

    .u-block-6684-34 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .services-img {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .services-type {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .services-text {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        text-align: left;
    }

    .u-block-6684-37 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-38 {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-47 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-48 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-40 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-41 {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-49 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-50 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-43 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-44 {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-51 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-52 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-56 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-57 {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-58 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-59 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-61 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-62 {
        height: 197px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-63 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-64 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-53 {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .u-block-6684-54 {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 767px) and (min-width: 576px) {
    .services-section {
        background-image: none;
    }

    .services-container {
        min-height: 831px;
    }

    .u-block-6684-28 {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-31 {
        margin-top: 18px;
        margin-bottom: 60px;
    }

    .u-block-6684-32 {
        grid-auto-columns: calc(100% - 0px);
        grid-gap: 15px 15px;
        grid-template-columns: 100%;
        min-height: 634px;
    }

    .u-block-6684-34 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .services-img {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .services-type {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .services-text {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        text-align: left;
    }

    .u-block-6684-37 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-38 {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-47 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-48 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-40 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-41 {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-49 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-50 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-43 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-44 {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-51 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-52 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-56 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-57 {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-58 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-59 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-61 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-block-6684-62 {
        height: 341px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-63 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-64 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-53 {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .u-block-6684-54 {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 575px) {
    .services-section {
        background-image: none;
    }

    .services-container {
        min-height: 800px;
    }

    .u-block-6684-28 {
        width: 164px;
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-31 {
        margin-top: 18px;
        margin-bottom: 17px;
    }

    .u-block-6684-32 {
        grid-auto-columns: 100%;
        grid-gap: 15px 15px;
        grid-template-columns: 100%;
        min-height: 634px;
    }

    .u-block-6684-34 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .services-img {
        height: 210px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .services-type {
        text-align: center;
        font-size: 22px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .services-text {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
        text-align: left;
    }

    .u-block-6684-37 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-block-6684-38 {
        height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-47 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-48 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-40 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-block-6684-41 {
        height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-49 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-50 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-43 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-block-6684-44 {
        height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-51 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-52 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-56 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-block-6684-57 {
        height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-58 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-59 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-61 {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-block-6684-62 {
        height: 255px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .u-block-6684-63 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-64 {
        margin-left: 0;
        margin-right: auto;
        margin-bottom: 0;
    }

    .u-block-6684-53 {
        position: absolute;
        left: 10px;
        width: 40px;
        height: 40px;
    }

    .u-block-6684-54 {
        position: absolute;
        right: 10px;
        width: 40px;
        height: 40px;
    }
}

/* End Of SERVICES */